.container {
    padding: 10px;
    margin: auto;
}

.header {
    max-width: 1200px;
    height: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.input-area:focus{
    outline: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gallery__item {
    flex-basis: calc((100% - 15px) / 4);
}

.gallery__image {

    height: 80%;

    display: block;
    width: 100%;
}

.info {
    display: flex;
    gap: 2px;
    text-align: center;
}

.load-more {
    visibility: hidden;
}