.container {
    padding: 15px 15px;
}

.header {
    max-width: 1200px;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
}

.gallery {
    display: flex;

    flex-wrap: wrap;
    gap: 5px;
}

.gallery__item {
    flex-basis: calc((100% - 15px) / 4);
}

.gallery__image {
    height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    display: flex;
    gap: 2px;
    text-align: center;
}

.load-more {
    visibility: hidden;
}